.features-block {
  &.advantages {
    .features-container {
      @apply mx-auto mt-16 center-container md:px-0;
      @apply grid grid-cols-1 md:grid-cols-2 gap-14;
    }
    .feature {
      img {
      }
      .intro {
        .headline {
          @apply my-5 text-4xl tracking-wide text-gradient bg-gradient-to-r from-pink to-gold;
        }
        .content {
        }
      }
    }
  }
  &.plugins {
    @apply center-container;
    .features-container {
      @apply flex flex-wrap gap-10 mt-10 xl:gap-16 lg:mt-16 lg:flex-nowrap;
      .feature {
        @apply relative;
        @apply border-4 border-orange-600;
        @apply px-8 py-12 shadow-lg rounded-xl xl:px-10 lg:w-1/3;

        .headline {
          @apply my-4 text-xl text-gradient bg-gradient-to-r from-purple-900 to-cyan-500;
        }
        .btn-container {
          @apply flex justify-start mt-10;
          .button {
            @apply relative;
            @apply font-bold text-gradient bg-gradient-to-r from-hotPink to-gold text-upper-spaced;
            @apply transition duration-500 ease-in-out;
            @apply hover:translate-x-2;
          }
        }
      }
    }
  }
}
