.features-block {
  &.advantages {
    .features-container {
      @apply center-container mt-16 mx-auto md:px-0;
      @apply grid grid-cols-1 md:grid-cols-2 gap-14;
    }
    .feature {
      img {
      }
      .intro {
        .headline {
          @apply my-5 text-4xl tracking-wide text-gradient bg-gradient-to-r from-pink to-gold;
        }
        .content {
        }
      }
    }
  }
  &.plugins {
    @apply center-container;
    .features-container {
      @apply flex xl:gap-16 gap-10 mt-10 lg:mt-16 flex-wrap lg:flex-nowrap;
      .feature {
        @apply relative;
        @apply border-4 border-orange-600;
        @apply bg-light;
        @apply rounded-xl shadow-lg xl:px-10 px-8 py-12 lg:w-1/3;
        /* &:after {
          content: "";
          @apply absolute -inset-1 bg-gradient-to-tr from-hotPink to-gold;
          @apply rounded-xl shadow-lg -z-10;
          width: calc(100%+14px);
          height: 500px;
        } */
        .headline {
          @apply text-xl text-gradient bg-gradient-to-r from-purple-900 to-cyan-500 my-4;
        }
        .btn-container {
          @apply flex justify-start mt-10;
          .button {
            @apply relative;
            @apply text-gradient bg-gradient-to-r from-hotPink to-gold font-bold text-upper-spaced;
            @apply transition duration-500 ease-in-out;
            @apply hover:translate-x-2;
          }
        }
      }
    }
  }
}
